site_name: Jenga
site_url: https://jenga-pms.github.io/
repo_url: https://github.com/Jenga-PMS/Jenga
edit_uri: https://github.com/Jenga-PMS/Jenga-PMS.github.io/blob/main/docs/
site_description: Jenga is a free, open-source project management and issue tracking tool, featuring an integrated AI agent 

docs_dir: docs
nav:
  - Jenga: index.md
  - features.md
  - 'Installation':
    - 'Overview': 'installation/index.md'
    - 'Build using Docker': 'installation/DockerBuild.md'
    - 'Build Backend': 'installation/BuildBackend.md'
    - 'Build Frontend': 'installation/BuildFrontend.md'
  - 'Architecture':
    - 'Overview': 'architecture/index.md'
    - 'Backend': 'architecture/backend.md'
    - 'Frontend': 'architecture/frontend.md'
    - 'Deployment': 'architecture/deployment.md'
    - 'AI': 'architecture/ai.md'
    - 'SonarQube': 'architecture/SonarQube/SonarQube.md'
  - about.md

theme:
  name: material
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono

markdown_extensions:
  - abbr
  - admonition
  - footnotes
  - md_in_html

