site_name: Jenga
site_url: https://jenga-pms.github.io/
repo_url: https://github.com/Jenga-PMS/Jenga
edit_uri: https://github.com/Jenga-PMS/Jenga-PMS.github.io/blob/main/docs/
site_description: Jenga is a free, open-source project management and issue tracking tool, featuring an integrated AI agent 

docs_dir: docs
nav:
  - Jenga: index.md
  - features.md
  - 'Installation':
    - 'Overview': 'installation/index.md'
    - 'Build using Docker': 'installation/DockerBuild.md'
    - 'Build Backend': 'installation/BuildBackend.md'
    - 'Build Frontend': 'installation/BuildFrontend.md'
  - 'Architecture':
    - 'Overview': 'architecture/index.md'
    - 'Backend': 
      - 'Overview': 'architecture/backend/overview.md'
      - 'Architecture': 'architecture/backend/architecture.md'
      - 'Data Models': 'architecture/backend/data_models.md'
      - 'Authentication': 'architecture/backend/authentication.md'
      - 'Configuration': 'architecture/backend/configuration.md'
      - 'Limitations': 'architecture/backend/limitations.md'
      - 'API Reference': 'architecture/backend/api.md'
    - 'Frontend': 'architecture/frontend.md'
    - 'Deployment': 'architecture/deployment.md'
    - 'AI':
      - 'Overview': 'architecture/ai/overview.md'
      - 'Technology Stack': 'architecture/ai/technology_stack.md'
      - 'Architecture':
        - 'Overview': 'architecture/ai/architecture.md'
        - 'Endpoints':
          - 'Chat Endpoint': 'architecture/ai/endpoints/chat.md'
          - 'Get Sessions': 'architecture/ai/endpoints/sessions.md'
          - 'Get Session Messages': 'architecture/ai/endpoints/messages.md'
      - 'Use-Cases': 'architecture/ai/use_cases.md'
      - 'Configuration': 'architecture/ai/configuration.md'
      - 'Evaluation & Benchmarks': 'architecture/ai/evaluation.md'
      - 'Problems': 'architecture/ai/problems.md'
      - 'Other': 'architecture/ai/other.md'
    - 'SonarQube': 'architecture/SonarQube/SonarQube.md'
    - 'Documentation': 'architecture/documentation.md'
  - about.md

theme:
  name: material
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono

markdown_extensions:
  - abbr
  - admonition
  - footnotes
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
     linenums: true


plugins:
  - redoc-tag
  - git-committers:
      repository: Jenga-PMS/Jenga-PMS.github.io
      branch: main
